<%- include("header") -%>
    <title>
        <%=user.username%>
    </title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/memepage.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">
    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <div class="container">
                <h1>Memes of
                    <%=user.username%>
                </h1>
                <div class="row text-center" style="display:flex; flex-wrap:wrap;">
                    <% memes.forEach(function(ca){
		if((ca.author.id).equals(user._id)){ %>

                        <div class="col-lg-6 col-md-12">
                            <div class="img-thumbnail">
                                <img class="img-responsive" src="data:<%=ca.image.contentType%>;base64, 
                     <%=ca.image.data.toString('base64')%>">
                                <div class="caption">
                                    <% if(currentUser && ca.author.id.equals(currentUser._id)){ %>
                                        <form id="deleteform" action="/deletememe/<%=ca._id%>?_method=DELETE" method="POST">
                                            <button class='btn btn-danger'>Delete</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <% }});%>
                </div>
            </div>
            <%- include("footer") -%>