<%- include("header") -%>
    <title>Memes Page</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/memepage.css">
    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <div class="container">
                <div class="container">
                    <% if(error && error.length>0){%>
                        <div class="alert alert-danger" role="alert">
                            <%=error%>
                        </div>
                        <%}
	if(success && success.length>0){%>
                            <div class="alert alert-success" role="alert">
                                <%=success%>
                            </div>
                            <%}%>
                </div>
                <header class="jumbotron">
                    <h1 style="color:#000">Welcome to Memes Page</h1>
                    <p style="color:#000">View the crazy memes of our users</p>
                    <div id="newmeme">
                        <p style="color:#000">Add new meme</p>
                        <form action="/memes" method="POST" enctype="multipart/form-data">
                            <div class="form-group" style="color:#000">
                                <input type="file" class="form-control-file" name="image" accept="image/*" required>
                            </div>
                            <input type="Submit" value="Upload" class="btn btn-primary">
                        </form>
                    </div>
                </header>
                <div class="row text-center" style="display:flex; flex-wrap:wrap;">
                    <% memes.forEach(function(ca){%>
                        <div class="col-lg-6 col-md-12">
                            <div class="img-thumbnail">
                                <img class="img-responsive" src="data:<%=ca.image.contentType%>;base64, 
                     <%=ca.image.data.toString('base64')%>">
                                <div class="caption">
                                    <a class="btn btn-sm btn-info" href="/memes/<%=ca.author.id%>">
                                        <%= ca.author.username%>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% });%>
                </div>
            </div>

            <%- include("footer") -%>